.children {
  background: rgba(242, 244, 248, 1);
  border-radius: 4px;
  .childrenMod {
    margin-bottom: 10px;
    padding: 0px 0px 4px 16px;
    background: #fff;

    .ModTitle {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 600;
      color: #2e3a4e;
    }
    .ModContent {
      font-size: 12px;
      border: 1px solid #edf1f5;
      border-radius: 4px;
      .details {
        background: #fff;
        margin: 5px 10px;
        padding: 0 15px;
      }
      .ModCell {
        margin: 10px 10px;
        .detail {
          outline: none;
          border: none;
          color: #40a9ff;
          position: absolute;
          left: 91%;
          // top: 0;
          cursor: pointer;
        }
      }
      .childrenother {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        margin-top: 10px;
        margin-right: 2%;
        background: #fff;
        margin-bottom: 5px;
        .cTitle {
          line-height: 44px;
          font-weight: bold;
          border-bottom: 1px dashed #d9d9d9;
        }
        .cCell {
          line-height: 32px;
          border-bottom: 1px dashed #d9d9d9;
        }
        .cCell:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
.approve {
  background-color: white;
}

.Schedule {
  border-radius: 4px;
  margin: 12px 0;
  background: #fff;
  overflow: hidden;
  &:hover {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background: #fff;
  }
  .title {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 600;
    color: #2e3a4e;
  }
  .item {
    position: relative;
    padding: 10px;
    border: 1px solid #edf1f5;
    .active {
      border-color: #377dea !important;
    }
    .imgBox {
      display: flex;
      flex-direction: column;
      .imgWrapper{
        height: 100%;
      }
      .img {
        width: 100%;
        height: 80%;
        border-radius: 4px 4px 0 0;
      }
      .imgText {
        font-size: 11px;
        width: 100%;
        height: 20%;
        text-align: center;
        border: 1px solid #d9d9d9;
        border-radius: 0 0 4px 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 24px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-left: 20px;
      .contentTop {
        .name {
          max-width: 500px;
          font-size: 16px;
          line-height: 24px;
          margin-left: 10px;
        }
      }
      .contentCenter {
        display: flex;
        font-size: 12px;
        padding-top: 16px;
        text-align: left;
        line-height: 24px;
        padding-right: 8px;
        .cell {
          display: flex;
          overflow: hidden;
        }
        .lable {
          color: #b1bcd1;
          display: inline-block;
        }
        .text {
          display: inline-block;
          vertical-align: bottom;
        }
      }
      .contentBottom {
        text-align: center;
        color: #ee921a;
        font-size: 14px;
        .open {
          transform: rotate(-90deg);
        }
        .close {
          transform: rotate(90deg);
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .rightlable {
        font-size: 14px;
        font-weight: 400;
        color: rgba(72, 87, 113, 1);
        line-height: 20px;
      }
      .rightstate {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
      .plan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        cursor: pointer;
        .planimg{
          width: 25px;
          height: 25px;
        }
        .query{
          font-size: 12px;
          line-height: 25px;
          color: #518FEF;
        }
      }
    }
  }
}
.tourist {
  width: 450px;
  .tableDiv {
    width: 450px;
    max-height: 200px;
    overflow: auto;
  }
  .ListTitle {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #2e3a4e;
    padding-top: 5px;
  }
  .tableTitle {
    text-align: center;
    font-weight: 420;
    font-size: 14px;
    color: #2e3a4e;
  }
  .tableBody {
    text-align: center;
    font-size: 12px;
  }

  .tableBorder {
    line-height: 32px;
    border-bottom: 1px dashed #d9d9d9;
  }
  .TableButtton {
    float: right;
    padding-top: 10px;
  }
}
.content{
    display: flex;
    flex-direction: column;
    .changeDetail{
        display: flex;
        .changeleft{
            display: flex;
            flex-direction: column;
            padding: 0px 16px;
            .title{
                font-size: 14px;
                font-weight: bolder;
            }
            .content{
                display: flex;
                flex-direction: column;
                .people{
                    height: 24px;
                    margin-top: 5px;
                }
                .teamtake{
                    width: 70px;
                    height: 24px;
                    margin-top: 5px;
                    padding:  1px 2px;
                    font-size:14px;
                    font-weight: bolder;
                }
                .listtable{
                    margin-top: 5px;
                    padding:5px;
                    border:1px solid #d9d9d9;
                    border-radius: 5px;
                    .navigation{
                      height: 20px;
                      padding: 1px 2px;
                    }
                    .information{
                        height: 24px;
                        border:1px solid #BBBBBB;
                        margin:5px 4px;
                        padding:0px 4px;
                    }
                    .adjustment{
                      border: 1px solid #BBBBBB;
                      height:24px;
                      width: 65px;
                      padding: 0 3px;
                      margin-left: 4px;
                      border-radius: 3px;
                      font-size: 14px;
                      font-weight: bolder;
                    }
                }
            }
        }
        .changeright{
            display: flex;
            flex-direction: column;
            padding: 0px 16px;
            .title{
                font-size: 14px;
                font-weight: bolder;
            }
            .content{
                display: flex;
                flex-direction: column;
                .people{
                    display: flex;
                    .number{
                        width: 70px;
                        height: 24px;
                        margin-top: 5px;
                    }
                }
                .teamtake{
                    width: 70px;
                    height: 24px;
                    margin-top: 5px;
                    padding:  1px 2px;
                    font-size:14px;
                    font-weight: bolder;
                }
                .listtable{
                    margin-top: 5px;
                    padding:5px;
                    border:1px solid #d9d9d9;
                    border-radius: 5px;
                    .navigation{
                      height: 20px;
                      padding: 1px 2px;
                    }
                    .information{
                        height: 24px;
                        border:1px solid #BBBBBB;
                        margin:5px 4px;
                        padding:0px 4px;
                    }
                    .adjustment{
                      border: 1px solid #BBBBBB;
                      height:24px;
                      width: 65px;
                      padding: 0 3px;
                      margin-left: 4px;
                      border-radius: 3px;
                      font-size: 14px;
                      font-weight: bolder;
                    }
                }
            }
        }
    }
}
.bottom{
    display: flex;
    margin-top:10px;
    .bottomtake{
        font-size: 12px;
        font-weight: 600;
        margin-left:5px;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



